<div class="mx-auto mt-5 text-center auth-form p-5">
    <h1 class="pb-3">Login</h1>
    <form action="/auth/login" method="post" class="d-flex flex-column gap-4 p-2 text-start">
        <section class="d-flex flex-column gap-2">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" autocomplete="username" required autofocus>
        </section>
        <section class="d-flex flex-column gap-2">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" autocomplete="password" required>
        </section>
        <button class="btn btn-orange w-50 mx-auto" type="submit">Login</button>
    </form>
    <p class="small mt-3">Not have an account? <a href="/auth/signup">Sign up here</a></p>
</div>