<div class="mx-auto mt-5 text-center auth-form p-5">
    <h1 class="pb-3">Login</h1>
    <% if (info.length > 0) { %>
        <div class="alert alert-danger"><%= info %></div>
    <% } %>
    <form action="/auth/login" method="post" class="">
        <ul class="list-unstyled d-flex flex-column gap-4 p-2 text-start">
            <li class="d-flex flex-column gap-2 input-section">
                <label for="username">Username</label>
                <input class="p-2 input-blue" id="username" name="username" type="text" autocomplete="username" aria-describedby="username-error" required autofocus>
                <% if (message.length > 0 && message == 'Incorrect username') { %>
                    <p class="error" id="username-error" aria-live="polite"><%= message %></p>
                <% } %>
            </li>
            <li class="d-flex flex-column gap-2 input-section">
                <label for="password">Password</label>
                <input class="p-2 input-blue" id="password" name="password" type="password" autocomplete="password" aria-describedby="password-error"  required>
                <% if (message.length > 0 && message == 'Incorrect password') { %>
                    <p class="error" id="password-error" aria-live="polite"><%= message %></p>
                <% } %>
            </li>
            <li>
                <button class="btn btn-orange w-50 mx-auto" type="submit">Login</button>
            </li>
        </ul>
    </form>
    <p class="small mt-3">Not have an account? <a href="/auth/signup">Sign up here</a></p>
</div>