<form action="/documents/create" method="post">
  <div class="col-12">
    <label for="titleInput" class="visually-hidden">Title</label>
    <input type="text" class="form-control" id="titleInput" placeholder="Title..." name="title">
    <label for="contentInput" class="visually-hidden">Title</label>
    <textarea class="form-control" id="contentInput" placeholder="Document content..." rows="10" name="content"></textarea>
  </div>
  <div class="row row-cols-2">
    <button type="submit" class="btn btn-submit">Add document</button>
    <a href="" class="btn btn-danger">Cancel</a>
  </div>
</form>