<div class="container-fluid mt-1 mt-md-4">
    <div class="container-md my-2">
        <div class="container-fluid d-flex align-items-center p-0">
            <div class="dropdown align-self-stretch show-dropdown " data-bs-theme="dark">
                <button class="dropdown-toggle  h-100 px-3 border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-bars fa-2xl"></i>
                </button>
            </div>
            <div class="d-flex justify-content-between w-100 show-header align-items-center">
                <div class="d-flex flex-column flex-sm-row align-items-center gap-2 p-2">
                    <span class="text-uppercase">Markdown</span>
                    <span class="vr mx-2"></span>
                    <i class="fa-regular fa-file" style="color: #fafafa;"></i>
                    <div class="mx-2">
                        <div class="text-secondary small">Document Name</div>
                        <div>Document</div>
                    </div>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                    </svg>
                    <button class="btn btn-danger mx-2">
                        Save Changes
                    </button>
                </div>
            </div>
        </div>
        <div class="containter-fluid">
            <div class="documents-container d-flex flex-column flex-md-row">
                <div class="cont-item vstack">
                    <span class="title">Markdown</span>
                    <textarea class="content p-4" id="markdown">{{{contentMarkdown}}}</textarea>
                </div>
                <div class="cont-item vstack" id="preview">
                    <span class="title">Preview</span>
                    <div class="content p-4" id="preview">
                        {{{contentHtml}}}
                    </div>
                </div>
                <span class="grid-border"></span>
            </div>
        </div>
    </div>
</div>
