
<div
  class="modal"
  id="confirmDelete"
  tabindex="-1"
  aria-labelledby="confirmDeleteLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title fs-4 " id="confirmDeleteLabel">
          Confirm delete of document
        </h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form id="confirm-delete-form" action="">
        <div class="modal-body">
          <p>Are you sure you want to delete this document?</p>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            id="confirm-delete-modal-btn"
            class="btn btn-danger"
          >
            Yes, delete
          </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>