<nav class="navbar navbar-expand-md" data-bs-theme="dark">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse"
                data-bs-target="#bs-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/" class="navbar-brand text-uppercase">Markdown Editor</a>
        </div>
        <div class="collapse navbar-collapse " id="bs-navbar-collapse-1">
            <div class="d-flex justify-content-between w-100">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <ul class="navbar-nav px-md-3">
                        <li class="nav-item"><a href="/" class="nav-link text-white">Home</a></li>
                        <li class="nav-item"><a href="/documents" class="nav-link text-white">Documents</a></li>
                        <li class="nav-item"><a href="#" class="nav-link text-white">Cheatsheet</a></li>
                    </ul>
                </div>
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <div class="nav navbar-nav navbar-right login-navbar">
                        <% if (!user) { %>
                        <span class="navbar-text m-0 px-md-2">Already have an account?</span>
                        <span class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><b>Login</b>
                                <span class="caret"></span></a>
                            <ul id="login-dp" class="dropdown-menu dropdown-menu-end p-2">
                                <li class="dropdown-item">
                                    <form class="form" role="form" method="post" action="/auth/login"
                                        accept-charset="UTF-8" id="login-nav">
                                        <section class="form-group">
                                            <label class="sr-only" for="usernameInput">Username</label>
                                            <input type="text" class="form-control" id="usernameInput"
                                                name="username" placeholder="Username" autocomplete="username" required>
                                        </section>
                                        <section class="form-group">
                                            <label class="sr-only" for="current-password">Password</label>
                                            <input type="password" class="form-control" id="current-password"
                                                placeholder="Password" name="password" autocomplete="current-password"
                                                required>
                                            <div class="help-block text-right">
                                                <a href="">Forget the password?</a>
                                            </div>
                                        </section>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Keep me logged-in
                                            </label>
                                        </div>
                                    </form>
                                </li>
                                <li class="dropdown-item">
                                    <div class="bottom text-center">
                                        New here ? <a href="/auth/signup"><b>Join Us</b></a>
                                    </div>
                                </li>
                            </ul>
                        </span>
                        <% } else { %>
                        <form action="auth/logout" method="post">
                            <button type='submit'>logout</button>
                        </form>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
