<div class="container">
  <header>
    <h1># Witaj w Markdown Editor</h1>
  </header>
  
  <main class="">
    <section>
      <h2>## O Aplikacji</h2>
  
      <p>Markdown Editor to narzędzie, które umożliwia tworzenie, edycję i formatowanie treści w formacie Markdown. Markdown to prosty język znaczników, który pozwala na szybkie tworzenie sformatowanych dokumentów bez konieczności używania skomplikowanych edytorów.</p>
  
      <p>Nasza aplikacja oferuje wiele funkcji, które pomogą Ci w efektywnym tworzeniu dokumentów Markdown. Oto kilka głównych cech:</p>
  
      <ul class="">
        <li>**<strong>Edycja W Czasie Rzeczywistym:</strong>** Zobacz, jak Twój dokument wygląda w czasie rzeczywistym, gdy dodajesz formatowanie Markdown.</li>
        <li>**<strong>Podgląd Sformatowanego Tekstu:</strong>** Przełącz się między trybem edycji a podglądem, aby zobaczyć, jak wygląda sformatowany dokument.</li>
        <li>**<strong>Zarządzaj Dokumentami:</strong>** Twórz, edytuj, usuwaj i eksportuj swoje dokumenty w łatwy sposób.</li>
        <li>**<strong>Wyszukiwanie:</strong>** Szukaj i znajduj szybko dokumenty na podstawie ich zawartości.</li>
      </ul>
    </section>
  
    <section>
      <h2>## Jak Korzystać?</h2>
  
      <p>Korzystanie z naszej aplikacji jest proste. Oto krótka instrukcja, jak zacząć:</p>
      <ol>
        <li>**<strong>Logowanie lub Rejestracja:</strong>** Jeśli nie masz jeszcze konta, zarejestruj się lub zaloguj się, aby rozpocząć pracę.</li>
        <li>**<strong>Tworzenie Nowego Dokumentu:</strong>** Po zalogowaniu się, przejdź do sekcji "Nowy Dokument" i kliknij "Utwórz Nowy Dokument". Nadaj dokumentowi tytuł.</li>
        <li> **<strong>Edycja Dokumentu:</strong>** Używaj edytora Markdown, aby tworzyć treść swojego dokumentu. Podczas pisania zobaczysz podgląd sformatowanego tekstu.</li>
        <li>**<strong>Podgląd:</strong>** Aby zobaczyć, jak wygląda sformatowany dokument, przejdź do trybu podglądu.</li>
        <li>**<strong>Zarządzanie Dokumentami:</strong>** Przejdź do sekcji "Moje Dokumenty", aby zarządzać swoimi dokumentami. Możesz edytować, usuwać i eksportować dokumenty.</li>
        <li>**<strong>Eksportowanie Dokumentu:</strong>** Jeśli chcesz wyeksportować dokument do pliku Markdown, użyj opcji eksportu dostępnej w sekcji "Moje Dokumenty".</li>
        <li>**<strong>Wyszukiwanie:</strong>** W sekcji "Wyszukaj" możesz wyszukiwać dokumenty na podstawie ich zawartości.</li>
      </ol>
    </section>
  
    <section>
      <p>To wszystko! Teraz jesteś gotowy, aby efektywnie korzystać z Markdown Editor. Rozpocznij tworzenie i formatowanie swoich dokumentów w prosty i przyjazny sposób!</p>
      <p>Dziękujemy, że wybrałeś naszą aplikację i życzymy owocnej pracy!</p>
    </section>
  </main>
</div>