@use "sass:color";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

$black: #000000;
$blue: #14213D;
$orange: #FCA311;
$gray: #E5E5E5;
$white: #FFFFFF;


body {
  background-color: $black;
  color: $white;
}

.navbar {
  background-color: $blue;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    color: #ffffff;

    thead tr {
      //background-color: color.scale($rain, $lightness: -45%);
      background-color: $orange;
      text-align: left;
    }
    th, td {
      padding: 12px 15px;
    }
    tbody tr {
      border-bottom: thin solid $orange;
    }
    tbody tr:nth-of-type(even) {
      background-color: $blue;
    }
    tbody tr:nth-of-type(odd) {
      background-color: color.scale($blue, $lightness: -15%);
    }
    tbody tr:last-of-type {
      border-bottom: 2px solid $orange;
  }
}