@use "sass:color";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

$black: #000000;
$blue: #14213D;
$orange: #FCA311;
$gray: #E5E5E5;
$white: #FFFFFF;

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-color: $black;
  color: $white;
  font-family: 'Roboto Mono', monospace;
}

.navbar {
  background-color: $blue;
  .active {
    color: $orange!important;
  }
}

.show-header{
  background-color: scale-color($color: $black, $lightness: 30%,);
  
}


.show-dropdown button::after{
  content: none;
}

.btn-orange {
  background-color: $orange;
  color: $white;
  &:hover {
    background-color: color.scale($orange, $alpha: -15%);
    //color: $blue;
    font-weight: 600;
    scale: 105%;
    transition: scale .25s;
    color: $white;
  }
  &:focus {
    background-color: $orange;
    border: 3px solid $white;
  }
}

.login-navbar {
  display: flex;
  flex-direction: row;
  font-size: .8rem;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    border: 1px solid $orange;

    .confirm-del-btn {
      &:hover{
        scale: 1.2;
        transition: all 0.2s;
      }
      &:focus, &:focus-visible {
        border: 2px solid $orange;
      }
    }

    thead tr {
      //background-color: color.scale($rain, $lightness: -45%);
      background-color: color.scale($orange, $alpha: -10%);
      text-align: left;
    }
    th {
      padding: 12px 15px;
    }

    td {
      padding: 0.2rem 1rem;
    }
    tbody tr {
      border-bottom: thin solid $orange;
    }
    tbody tr:nth-of-type(even) {
      background-color: $blue;
    }
    tbody tr:nth-of-type(odd) {
      background-color: color.scale($blue, $lightness: -15%);
    }
    tbody tr:last-of-type {
      border-bottom: 2px solid $orange;
  }
}

.documents-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  //grid-gap: 16px;
  position: relative;
  border: 1px solid color.scale($blue, $lightness: -15%);
  border-top: 2px solid $orange;
  
  .title {
    background-color: color.scale($blue, $lightness: -15%);
    padding: .5rem 1rem;
    text-transform: uppercase;
  }

  .grid-border {
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: $orange;
    right: -9px
  }

  .grid-item {
    position: relative;
  }

  .content {
    padding: 1rem;
  }

  .content#preview {
    /* Listy (ul, ol) */
    ul, ol {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    /* Elementy listy (li) */
    li {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }

    /* Kierunki tekstu (dir) */
    dir {
      margin: 1em 0;
    }

    /* Cytaty (blockquote) */
    blockquote {
      display: block;
      margin-top: 1em;
      margin-bottom: 1em;
      margin-left: 40px;
      margin-right: 40px;
    }

    dd {
      display: block;
      margin-left: 40px;
    }

    dl {
      display: block;
      margin-top: 1em;
      margin-bottom: 1em;
      margin-left: 0;
      margin-right: 0;
    }

    fieldset {
      display: block;
      margin-left: 2px;
      margin-right: 2px;
      padding-top: 0.35em;
      padding-bottom: 0.625em;
      padding-left: 0.75em;
      padding-right: 0.75em;
      border: 2px groove black;
    }

    figure {
      display: block;
      margin-top: 1em;
      margin-bottom: 1em;
      margin-left: 40px;
      margin-right: 40px;
    }

    h1 {
      display: block;
      font-size: 2em;
      margin-top: 0.67em;
      margin-bottom: 0.67em;
      margin-left: 0;
      margin-right: 0;
      font-weight: bold;
    }

    h2 {
      display: block;
      font-size: 2em;
      margin-top: 0.67em;
      margin-bottom: 0.67em;
      margin-left: 0;
      margin-right: 0;
      font-weight: bold;
    }
    
    h3 {
      display: block;
      font-size: 1.17em;
      margin-top: 1em;
      margin-bottom: 1em;
      margin-left: 0;
      margin-right: 0;
      font-weight: bold;
    }

    h4 {
      display: block;
      margin-top: 1.33em;
      margin-bottom: 1.33em;
      margin-left: 0;
      margin-right: 0;
      font-weight: bold;
    }

    h5 {
      display: block;
      font-size: .83em;
      margin-top: 1.67em;
      margin-bottom: 1.67em;
      margin-left: 0;
      margin-right: 0;
      font-weight: bold;
    }

    h6{
      display: block;
      font-size: .83em;
      margin-top: 1.67em;
      margin-bottom: 1.67em;
      margin-left: 0;
      margin-right: 0;
      font-weight: bold;
    }

    /* Nowa linia (hr) */
    hr {
      margin: 0.5em auto;
      border-top: 1px solid #ccc;
    }

    menu {
      display: block;
      list-style-type: disc;
      margin-top: 1em;
      margin-bottom: 1em;
      margin-left: 0;
      margin-right: 0;
      padding-left: 40px;
    }

    /* Pola formularza (input, textarea, select) */
    input, textarea, select {
      margin: 0.5em 0;
      padding: 1px;
    }

    ol {
      display: block;
      list-style-type: decimal;
      margin-top: 1em;
      margin-bottom: 1em;
      margin-left: 0;
      margin-right: 0;
      padding-left: 40px;
    }
    
    p {
      display: block;
      margin-top: 1em;
      margin-bottom: 1em;
      margin-left: 0;
      margin-right: 0;
    }

    ul {
      display: block;
      list-style-type: disc;
      margin-top: 1em;
      margin-bottom: 1 em;
      margin-left: 0;
      margin-right: 0;
      padding-left: 40px;
    }
    table, th, td, tr {
      border: 1px solid $orange;
    }
  }
}

#confirmDelete {
  .modal-content {
    background-color: $blue;
  }

  .modal-header {
    border-bottom: 1px solid $orange;
  }
  .modal-footer {
    border-top: 1px solid $orange;
  }
  .btn-close {
   filter: invert(59%) sepia(100%) saturate(697%) hue-rotate(351deg) brightness(101%) contrast(98%);
   opacity: .5;

   &:hover {
    opacity: 1;
    filter: invert(59%) sepia(100%) saturate(697%) hue-rotate(351deg) brightness(101%) contrast(98%);
   }
  }
}

.create-container {
  max-width: 32rem;

  #titleInput {
    display: inline-block;
  }
}

.documents-container {
  .cont-item {
    flex-grow: 0.5;
    width: 100%;
  }
  textarea {
    background: transparent;
    color: $white;
    overflow: auto;
    height: 100%;
    border: none;

  }
}

#title-input {
  //background-color: scale-color($color: $black, $lightness: 25%,);
  background-color: transparent;
  border: 1px solid scale-color($color: $black, $lightness: 25%,);
  border-radius: 5px;
  text-align: center;
  color: $white;
}

.auth-form {
  background-color: $blue;
  max-width: 400px;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;

  a {
    color: $orange;

    &:hover {
      color: scale-color($color: $orange, $lightness: -20%,)
    }
  }
}

.show-trash {
  &:hover {
    background-color: transparent;
    svg {
      fill: $orange;
      scale: 1.35;
      transition: all 0.3s;
    }
  }
}

@media (max-width: 768px) {
  .documents-container {
    .grid-border {
      display: none;
    }
  }
}
